//-
    name: offer
    description: Markup for the offer block
    arguments:
        - {object} props - block properties

mixin offer(props = {})
    .offer&attributes(attributes)
        .offer_slider
            .offer_slides
                img(src="", alt="alt")
                p.descr= data.descr
            .offer_slides
                img(src="", alt="alt")
                p.descr= data.descr
            .offer_slides
                img(src="", alt="alt")
                p.descr= data.descr
            .offer_slides
                img(src="", alt="alt")
                p.descr= data.descr
            .offer_slides
                img(src="", alt="alt")
                p.descr= data.descr
            .offer_slides
                img(src="", alt="alt")
                p.descr= data.descr
