//-
    name: footer
    description: Markup for the footer block
    arguments:
        - {object} props - block properties

mixin footer(data = {})
    .footer&attributes(attributes)
        .container-fluid
            .row
                .col-3.footer_block_wrapp
                    h3.footer_chapter= data.delivery
                    p.footer_descr= data.descr
                .col-3.footer_block_wrapp
                    h3.footer_chapter= data.prices
                    p.footer_descr= data.descr
                .col-3.footer_block_wrapp
                    h3.footer_chapter= data.assortment
                    p.footer_descr= data.descr
                .col-3.footer_block_wrapp
                    h3.footer_chapter= data.discounts
                    p.footer_descr= data.descr
        .container
        .footer_contacts
            .row
                .col-2
                .col-8
                    h1.title= data.title
                    p.subtitle!= data.subtitle
                    .footer_call
                        a(href="tel:+800.123.45.67").call= data.call
                        a(href="tel:+800.123.45.67").number= data.number
                    input.email(type="search" placeholder="Your mail")
                    button.btn.btn_subscribe(type='submit') Subscribe
                    ul.footer_social
                        each item in data.icon
                            li.footer_social_link: a(href="#")
                                i(class=`fab fa-${item}`)
                .col-2
