//-
    name: footer
    description: Markup for the footer block
    arguments:
        - {object} props - block properties

mixin footer(data = {})
    .footer&attributes(attributes)
        #footer
            .container-fluid
                .row
                    .col-md-3.col-sm-3.footer_block_wrapp
                        h3.footer_chapter= data.delivery
                        p.footer_descr= data.descr
                    .col-md-3.col-sm-3.footer_block_wrapp
                        h3.footer_chapter= data.prices
                        p.footer_descr= data.descr
                    .col-md-3.col-sm-3.footer_block_wrapp
                        h3.footer_chapter= data.assortment
                        p.footer_descr= data.descr
                    .col-md-3.col-sm-3.footer_block_wrapp
                        h3.footer_chapter= data.discounts
                        p.footer_descr= data.descr
            .container
            .footer__contacts
                .row
                    .col-md-2
                    .col-md-8.col-sm-12
                        h1.footer__title= data.title
                        p.footer__subtitle!= data.subtitle
                        .footer__call
                            a(href="tel:+800.123.45.67").call= data.call
                            a(href="tel:+800.123.45.67").number= data.number
                        input.footer__email(type="email" placeholder="Your mail")
                        button.btn.footer__subscribe(type='submit') Subscribe
                        ul.footer__social
                            each item in data.icon
                                li.footer__social_link: a(href="#")
                                    i(class=`fab fa-${item}`)
                    .col-md-2
