//-
    name: product
    description: Markup for the product block
    arguments:
        - {object} props - block properties

mixin product(data = {})
    .product&attributes(attributes)
        .container
            .row
                .col-6
                    .product_slider
                        //-  each item in data.slider
                        //-     .product_slide
                        //-         img(src=item, alt="alt")
                        

                .col-6
                    .product_info
                        p.product_code= data.code
                        h1.product_name= data.productName
                        p.price= data.price
                        .rate
                            input(type="checkbox", name="")
                            input(type="checkbox", name="")
                            input(type="checkbox", name="")
                            input(type="checkbox", name="")
                            input(type="checkbox", name="")
                            label(for="")= data.reviewLabel
                        p.product_descr= data.descr
                        p.product_category= data.category
                        .product_color
                            p.color= data.color
                            button.btn.btn-primary(type='submit') Submit
                            button.btn.btn-primary(type='submit') Submit
                        //- shop now line
                        .social 
                            //- 
                        
                        
